.App {
  text-align: center;
  
}

body {
  background-color: lightyellow;
}


.homeContainer {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  height: 500px;
  width: 500px;
  background-color: #eeaf61;
  border-radius: 15px;
}

a, a:visited, a:hover {
  text-decoration: none;
}
button {
  color: black;
  background-color: #fb9062;
  margin: 5px;
  height: 30px;
  width: 200px;
  font-size: 12pt;
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid lightsalmon;


  img {
    height: 200px;
    width: 200px;
  }
}
